@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f9f9f9;
  padding: 5rem;
}

.container {
  background-color: #f7f7f7;
}

.title-first {
  color: #f9f9f9;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 200;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  color: #f9f9f9;
  animation-name: rightToLeft;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  margin-bottom: 6.5rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #5f5f5f;
  letter-spacing: 0.2rem;
}

.title-secondary {
  display: inline-block;
  letter-spacing: 1rem;
  font-weight: 800;
  font-size: 3.6rem;
  text-transform: uppercase;
  background: linear-gradient(90.05deg, rgba(163, 163, 128, 0.7) 0.03%, rgba(61, 61, 41, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s;
  backface-visibility: hidden;
  z-index: 3;
  position: relative;
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 1rem 1.4rem 1.4rem rgba(26, 26, 26, 0.5);
}
.title-secondary_white {
  color: #f9f9f9;
}

.title-third {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #5f5f5f;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
  color: #5f5f5f;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.adventure_card {
  padding: 2.5rem;
  background-color: rgba(249, 249, 249, 0.8);
  text-align: center;
  max-width: 24rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.adventure_card__icon {
  font-size: 6rem;
  background: linear-gradient(90.05deg, rgba(163, 163, 128, 0.7) 0.03%, rgba(26, 26, 26, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.adventure_card:hover {
  transform: translateY(-1.5rem) scale(1.1);
}

.article-card {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 34rem;
}
.article-card__side {
  height: 50rem;
  transition: 0.7s all ease-out;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
}
.article-card__side_back {
  background: green;
  transform: rotateY(-180deg);
  background: linear-gradient(120deg, #a3a380, #3d3d29);
}
.article-card:hover .article-card__side_front {
  transform: rotateY(180deg);
}
.article-card:hover .article-card__side_back {
  transform: rotateY(0deg);
}
.article-card__img {
  background-blend-mode: hard-light;
  height: 21rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  background: #a3a380 url(../../img/photo-card-1.png) center/cover no-repeat;
}
.article-card__img_1 {
  background: #a3a380 url(../../img/photo-card-1.png) center/cover no-repeat;
}
.article-card__img_2 {
  background: #a3a380 url(../../img/photo-card-2.png) center/cover no-repeat;
}
.article-card__img_3 {
  background: #a3a380 url(../../img/photo-card-3.png) center/cover no-repeat;
}
.article-card__title {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  width: 100%;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 15.5rem;
  right: 0;
}
.article-card__span {
  background: linear-gradient(90deg, #a3a380, #3d3d29);
  padding: 1rem 2rem 0.3rem 2rem;
}
.article-card__span_2 {
  position: absolute;
  top: 3.4rem;
  right: 0;
  padding-bottom: 1rem;
  padding-top: 0rem;
}
.article-card__description ul {
  list-style: none;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}
.article-card__description ul li {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #5f5f5f;
  border-bottom: 1px solid #5f5f5f;
  display: inline-block;
}
.article-card__description ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.article-card__backSide-box {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.article-card__text {
  margin-bottom: 8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #f9f9f9;
}
.article-card__text_1 {
  font-size: 1.6rem;
  font-weight: 300;
}
.article-card__text_2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.bg-video {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  object-fit: cover;
}

.bg-gradient {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: linear-gradient(90.05deg, rgba(163, 163, 128, 0.7), rgba(26, 26, 26, 0.7));
}

.btn-text:link, .btn-text:visited {
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #a3a380;
  padding: 1rem;
  text-decoration: none;
  border-bottom: 0.1rem solid #a3a380;
  display: inline-block;
  transition: all 0.5s;
}
.btn-text:hover {
  background-color: #a3a380;
  color: #f9f9f9;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0);
}

.btn {
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #5f5f5f;
  padding: 1.5rem 4rem;
  background: #f9f9f9;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  font-size: 2rem;
  border: none;
}
.btn:hover {
  transform: translateY(-0.4rem);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn::after {
  content: "";
  background: #f9f9f9;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animated {
  animation: BtnToUp 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}

.btn_brown, .btn_brown:link, .btn_brown:visited {
  background: #3d3d29;
  color: #f9f9f9;
}
.btn_brown::after {
  background: #3d3d29;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 30%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  z-index: 10;
  position: absolute;
  outline-offset: 1rem;
  transition: all 0.2s;
}
.composition__photo_n1 {
  top: 0;
  left: 0;
}
.composition__photo_n2 {
  top: 6rem;
  left: 12rem;
}
.composition__photo_n3 {
  right: 12rem;
  top: 4rem;
}
.composition__photo_n4 {
  right: 0;
  top: 0;
}
.composition__photo:hover {
  outline: 0.2rem solid #a3a380;
  transform: scale(1.1);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feedback-card {
  width: 75%;
  background-color: rgba(249, 249, 249, 0.75);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(-10deg);
  position: relative;
  z-index: 3;
}
.feedback-card > * {
  transform: skewX(10deg);
}
.feedback-card__img {
  float: left;
  height: 10rem;
  width: 10rem;
  border-radius: 100rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 5rem;
  overflow: hidden;
  position: relative;
}
.feedback-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: all 0.5s;
}
.feedback-card__name {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #f9f9f9;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
}
.feedback-card:hover .feedback-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedback-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(70%);
}

.row {
  max-width: 114rem;
  text-align: left;
  margin: 0 auto;
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90.05deg, rgba(163, 163, 128, 0.7) 0.03%, rgba(26, 26, 26, 0.7) 99.94%), url("../../img/header-background.jpg") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__box {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-about {
  padding-top: 8rem;
  margin-bottom: 10rem;
}

.section-adventure {
  padding: 21rem 0;
  background: linear-gradient(90.05deg, rgba(163, 163, 128, 0.7) 0.03%, rgba(26, 26, 26, 0.7) 99.94%), url("../../img/adventure-background.png") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 90%);
}

.section-articles {
  padding-top: 21rem;
  margin-bottom: 8rem;
}

.section-feedback {
  padding: 8rem 0;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
